
<div class="search-box">
  <input type="number" class="form-control" placeholder="Search Customer Using Id">
  <button class="btn btn-primary" (click)="retrive()"> Retrive Customer</button>
</div>

<div *ngIf="customerResultAvailable" style="padding: 1rem">
  <form [formGroup]="customerForm">
    <div class="form-field">
      <label> First Name: </label>
      <input class="form-control" type="text" formControlName="firstName">
    </div>

    <div class="form-field">
      <label> Last Name: </label>
      <input class="form-control" type="text" formControlName="lastName">
    </div>

    <div class="form-field">
      <label> Phone: </label>
      <input class="form-control" type="number" formControlName="phone">
    </div>

    <div class="form-field">
      <label> Email: </label>
      <input class="form-control" type="email" formControlName="email">
    </div>

    <div class="form-field">
      <label> Age: </label>
      <input class="form-control" type="number" formControlName="age">
    </div>
  </form>

  <div style="margin-top: 1.5rem">
    <button class="btn btn-primary" [disabled]="!formUpdated" (click)="update()"> Update Customer</button>
  </div>
</div>
